{% if site.comments.enable %}
<h5>评论（邮件通知作者）</h5>
<div
  id="cusdis_thread"
  class="my-comments"
  data-host="https://blog.zollty.com"
  data-app-id="a8faee4a-bba8-459f-9851-d021b0c2cab5"
  data-page-id="{{ page.id }}"
  data-page-url="{{ site.baseurl }}{{ page.url }}"
  data-page-title="{{ page.title }}"
  style="padding-left: 10px"
></div>
<script defer src="https://blog.zollty.com/js/widget/lang/zh-cn.js"></script>
<script async defer src="https://blog.zollty.com/js/cusdis.es.js"></script>
{% endif %}
