<h3 class="my-h3-title">分类</h3>
<div class="my-side-tags">
	<ul class="list-group">
	  <li class="list-group-item">
		<a href="{{ site.baseurl }}/">全部（All）</a>
	  </li>
	  {% for tag in site.tags %} 
	  <li class="list-group-item">
		<a href="{{ site.baseurl }}/tags/#{{ tag[0] | cgi_escape | remove: "%" }}">{{ tag[0] }}</a>
		<span class="badge">{{ tag[1].size }}</span>
	  </li>
	  {% endfor %}
	  {% for cat in site.data.cats %}
	  <li class="list-group-item">
		<a href="{{ site.baseurl }}/tags/#{{ cat.last | cgi_escape | remove: "%" }}">{{ cat | join:" &raquo; " }}</a>
	  </li>
	  {% endfor %}
	</ul>
</div>